<h1>Let's Play Rock Paper Scissors!<h1>
<p>Select below if you want to play against the computer or a friend.</p>
<form>
  <div class="form-group">
    <select>
      <option value="twoplayers">Human vs. Human</option>
      <option value="computer">Human vs. Computer</option>
    </select>
  </div>
</form>
